.app-wrapper {
  position: fixed;
  top: 90px;
  left: 240px;
  bottom: var(--margin);
  right: var(--margin);
  padding: 2rem 1rem;
  background-color: rgb(234, 234, 234) !important;
  transition: all 0.3s ease;
}
.app-wrapper .item {
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}
.collapse.sidebar {
  width: 90px;
}
.app-wrapper.collapse {
  left: 110px;
}