
.navbar {
  display: flex;
  height: var(--top-nav-height);
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  position: fixed;
  top: var(--margin);
  right: var(--margin);
  left: 6.4rem;
  transition: all 0.3s ease;
}

.navbar .brand {
  display: flex;
  align-items: center;
}
.navbar .brand .logo a {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar .left i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #fdde6c;
  margin: 0 15px;
  cursor: pointer;
}
.navbar .left i:hover {
  color: var(--primary-color);
  background: #424d63;
}

.navbar.collapse {
  margin-left: 90px;
  transition: all ease 0.5s;
}