@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");

.eventList {
  top: 30rem;
  padding: 0rem 5rem;
  display: flex;
  flex-direction: column;
  h2 {
    padding: 4rem 0rem;
    font-family: "ubuntu";
    font-weight: bolder;
    font-size: 3rem;
  }
}

.events {
  min-height: 80vh;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  margin-bottom: 1rem;
}

.searchedDiv {
  padding: 3rem 5rem;
  text-align: center;
  margin-top: 1rem;
  input {
    width: 30%;
    font-size: 1.2rem;
    
    padding: 0.5rem;
    border: none;
    margin-top: 1rem;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    outline: none;
  }
}
