@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: #14213d;
  --secondary-color: #fdde6c;
  --primary-text-color: #364156;
  --top-nav-height: 60px;
  --margin: 0rem;
  --sidebar-width: 90px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
body {
  background-color: rgb(234, 234, 234) !important;
  overflow: hidden;
}
