@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #14213d;
  --secondary-color: #fdde6c;
  --primary-text-color: #364156;
  --top-nav-height: 60px;
  --margin: 0px;
  --sidebar-width: 90px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

h3 {
  font-size: 1.3rem;
  color: #333;
  padding: 1.5rem 0rem;
}

p {
  font-size: 1.2rem;
  line-height: 200%;
  color: #696969;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  display: block;
}

.navbar {
  display: flex;
  height: var(--top-nav-height);
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  border-top-left-radius: var(--margin);
  border-top-right-radius: var(--margin);
  position: fixed;
  top: var(--margin);
  right: var(--margin);
  left: var(--margin);
  transition: all 0.3s ease;
  opacity: 1;
}

.navbar .brand {
  display: flex;
  align-items: center;
}
.navbar .brand .logo a {
  color: #ffffff;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar .brand .hamburger {
  height: 100%;
  width: 70px;
  cursor: pointer;
  padding: 15px;
}
.navbar .brand .hamburger div {
  width: 100%;
  height: 4px;
  background: #fdde6c;
  border-radius: 7px;
  margin: 7px 0;
}
.navbar .left i {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 1.2rem;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #fdde6c;
  margin: 0 15px;
  cursor: pointer;
}
.navbar .left i:hover {
  color: var(--primary-color);
  background: #364156;
}
.sidebar {
  position: fixed;
  left: var(--margin);
  bottom: var(--margin);
  top: 60px;
  width: 220px;
  background: var(--secondary-color);
  transition: 0.4s;
}
.sidebar ul li a {
  display: block;
  color: var(--primary-text-color);
  font-size: 1.3rem;
  padding: 1rem;
  font-weight: 600;
  margin-bottom: 1px;
}

.sidebar ul li a.active {
  color: var(--primary-color);
}
.sidebar ul li:hover {
  background: rgba(0, 0, 0, 0.1);
  border-left: var(--primary-color) solid 5px;
}

.sidebar ul li a span.icon {
  margin-right: 10px;
  display: inline-block;
}
.sidebar ul li a span.title {
  display: inline-block;
}

.sidebar.collapse {
  width: 90px;
}

.sidebar.collapse ul li a {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.sidebar.collapse ul li a span.icon {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}

.sidebar.collapse ul li a span.title {
  font-size: 0.6rem;
  text-align: center;
}

.app-wrapper {
  position: fixed;
  top: 5rem;
  left: 17.5rem;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 2rem 1rem;
  background: #ffffff;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
}
.app-wrapper .item {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}
.collapse.sidebar {
  width: 7rem;
}
.app-wrapper.collapse {
  left: 110px;
}

input {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.client-contain {
  position: fixed;
  top: 5rem;
  left: 2rem;
  bottom: 0.5rem;
  right: 0.5rem;
  padding: 2rem 1rem;
  background: #ffffff;
  border-bottom-right-radius: 20px;
  transition: all 0.3s ease;
}

@import "./Components/events/Client/EventHome.scss";
@import "./Components/events/Client/events.scss";
@import "./Components/events/Client/eventDetail.scss";
